<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>a1bank.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>currencyWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE54A6C01CE8A63500A3EBDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE745D511C9FC67C00D55A8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE745D651C9FC67C00D55A8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE745D701C9FC67C00D55A8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
